body{
	background: #f2f2f2;
	width: 100%;
	height: 100%;
	margin: 0;  
	font-weight: 200;
	font-family: 'Robot', serif;  	 
	font-size: 16px;
	color: #4c4c4c;
}

#success_delete, #failed_delete, #success, #failed, #success_e, #failed_e
{
 display: none;
}

:focus { outline:0 !important; }

.colorh{  
	color: red;
}

.navbar
{
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;    
}

.btn{
	-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}  

.nav.navbar-nav li a:hover {
 color: #C9302C;
}

.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size
{
  font-size: 87px;
}

.row-no-gutter {
	margin-right: 0;
	margin-left: 0;
}

.row-no-gutter [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

#card {
	background: #fff;
	position: relative;

	-webkit-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
	-moz-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
	box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	

	-webkit-box-shadow: -0 8px -6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.jumbot
{
	/*Jumotron*/
	-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  margin-bottom: 15px;
  /*text-shadow: 4px 4px 4px #aaa;   */
}

#para{
  font-size: 13px;   
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}
input[type=radio] {
  visibility: hidden;
}

.gender {
  margin-top: 13px;
  margin-left: -15px;
  margin-bottom: 10px;
}


label.radio  {
  cursor: pointer; 
  text-indent: 25px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

label.radio:before {
  background: #C9302C;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 0.5em;
  height: 0.25em;
  background: transparent;
  top: 7.5px;
  left: 4.5px;
  border: 3px solid #ffffff;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
  opacity: 1;
}

/*.testbox {
  margin: 20px auto;
  width: 343px; 
  height: 410px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}*/
/*.testboxlogin {
  margin: 20px auto;
  width: 343px; 
  height: 315px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}*/

/*.testboxmsg{   

  background: #fff;
  text-align: center;
  margin: 20px auto;
  width: 343px; 
  height: 40px; 
  padding: 20px;

  -webkit-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  -moz-box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;  

  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}*/

.txt{
  width: 200px; 
  height: 42px; 
}

.single8 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 10px solid red;
  -webkit-animation: single8 8s infinite linear;
  animation: single8 8s infinite linear;
} 

@-webkit-keyframes single8 {
 0%, 100%{ border: solid 20px #68C3A3; }
 6.25% { border: solid 2px #68C3A3; }
 12.5% { border: solid 2px #52B3D9; }
 18.75% { border: solid 20px #52B3D9; }
 25% { border: solid 20px #52B3D9; }
 31.25% { border: solid 2px #52B3D9; }
 37.5% { border: solid 2px #F4D03F; }
 43.75% { border: solid 20px #F4D03F; }
 50% { border: solid 20px #F4D03F; }
 56.25% { border: solid 2px #F4D03F; }
 62.5% { border: solid 2px #D24D57; }
 68.75% { border: solid 20px #D24D57; }
 75% { border: solid 20px #D24D57; }
 81.25% { border: solid 2px #D24D57; }
 87.5% { border: solid 2px #68C3A3; }
 93.75% { border: solid 20px #68C3A3; }   
}

@keyframes single8 {
  0%, 100%{ border: solid 20px #68C3A3; }
  6.25% { border: solid 2px #68C3A3; }
  12.5% { border: solid 2px #52B3D9; }
  18.75% { border: solid 20px #52B3D9; }
  25% { border: solid 20px #52B3D9; }
  31.25% { border: solid 2px #52B3D9; }
  37.5% { border: solid 2px #F4D03F; }
  43.75% { border: solid 20px #F4D03F; }
  50% { border: solid 20px #F4D03F; }
  56.25% { border: solid 2px #F4D03F; }
  62.5% { border: solid 2px #D24D57; }
  68.75% { border: solid 20px #D24D57; }
  75% { border: solid 20px #D24D57; }
  81.25% { border: solid 2px #D24D57; }
  87.5% { border: solid 2px #68C3A3; }
  93.75% { border: solid 20px #68C3A3; }
}